export( "urbinEffCat" )
export( "urbinEffInt" )
export( "urbinEla" )
export( "urbinElaInt" )
export( "logitElaInt" )

importFrom( "miscTools", "ddnorm" )
importFrom( "stats", "dnorm" )
importFrom( "stats", "pnorm" )
importFrom( "stats", "rnorm" )
