export( "probitEla" )
export( "probitElaInt" )
export( "probitEffInt" )

importFrom( "miscTools", "ddnorm" )
importFrom( "stats", "dnorm" )
importFrom( "stats", "pnorm" )
importFrom( "stats", "rnorm" )
